@model IEnumerable<PruebaExamen.Models.ArticuloXml>

@{
    ViewData["Title"] = "VistaArticulos";
}

<h1>VistaArticulos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdArticulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calorias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proteinas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hidratos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Glucosa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdArticulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calorias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proteinas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hidratos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glucosa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>

        </tr>
}
    </tbody>
</table>
<div id="contenidoajax">

</div>

@section Scripts{
<script>
        $(document).ready(function () {
            llamaAjaxAfter(0);
        });

 

        function llamaAjaxAfter(posicion){
            console.log(posicion);
            $("#contenidoajax").load("/Articulo/_PaginacionAjax?posicion=" + posicion);
        }
</script>
}
